

#忽略.vs文件夹及文件夹下的文件
build/.vs

#忽略.vs文件夹及文件夹下的文件
build/.vs

#忽略.user文件
*.user

#忽略.VC.db文件
build/*.VC.db


build/Debug

build/Release

build/x64

build/main.dir

build/CMakeFiles

CodeCraft_zip.sh

build/CMakeCache.txt

build/cmake_install.cmake
